.RatingFilterContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.RatingsContainer {
    margin: 10px 25px;
    display: flex;
    flex-direction: row;
}
/* .RatingsContainer input {
    display: flex;
    flex-direction: row;

} */