.ResultPreviewContainer {
    display: flex;
}

.ResultPreviewContainer h3.SearchWord {
    padding: 0 5px;
    color: #FF3948;
}

@media screen and (max-width: 430px) {
    .ResultPreviewContainer {
        visibility: hidden;
    }
}