.cartLogoContainer {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;
}

.cartLogoContainer img{
    height: 30px;
}

@media screen and (max-width: 430px) {
    .cartLogoContainer img{
        height: 20px;
    }
}
