#root {
  margin: 0 0;
  padding: 0;
}

.content-ResultandFilter{
  display: grid;
  grid-template-areas: "filter results";
  grid-template-columns: 15% auto;
  column-gap: 30px;
  padding: 20px 0px 20px 10px;
}
