.CartItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 1px gray;
    width: auto;
    padding-top: 15px;
}

.CartItemContainer img{
    width: 50%;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.RemoveCartProduct {
    display: flex;
    align-self: flex-end;
    color: red;
    width: 20px;
    height: 20px;
    padding-right: 15px;
}
